/* line 2, screen.scss */
.clear-both {
  clear: both;
}

/* line 3, screen.scss */
.red-bg {
  background: #d62c35;
}

/* line 6, screen.scss */
.login {
  padding: 20px 0;
  font-size: 14px;
}
/* line 9, screen.scss */
.login .seperator {
  color: white;
  display: inline-block;
  line-height: 8px;
  font-size: 9px;
}
/* line 15, screen.scss */
.login h1 {
  text-transform: uppercase;
  color: white;
  font: 'citroenregular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.8em;
}
/* line 22, screen.scss */
.login label {
  text-transform: uppercase;
  color: white;
  display: inline-block;
  margin: 10px 0 3px 0;
}
/* line 28, screen.scss */
.login input {
  display: block;
}
/* line 29, screen.scss */
.login .submit {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  color: #d62c35;
  background: #fff;
  text-decoration: none;
  padding: 7px 45px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font: 1em 'citroenregular', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
/* line 41, screen.scss */
.login .submit:hover {
  color: #b50020;
}
/* line 45, screen.scss */
.login input[type=submit] {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  color: #d62c35;
  background: #fff;
  text-decoration: none;
  padding: 7px 45px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font: 1em 'citroenregular', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
/* line 57, screen.scss */
.login input[type=submit]:hover {
  color: #b50020;
}
/* line 61, screen.scss */
.login input[type=text], .login input[type=password] {
  width: 180px;
  border: none;
  line-height: 22px;
  padding: 2px 5px;
}
/* line 68, screen.scss */
.login ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 0;
  font-size: 8px;
}
/* line 73, screen.scss */
.login ul li:first-child {
  padding-right: 8px;
}
/* line 76, screen.scss */
.login ul li:last-child {
  position: relative;
  left: -3px;
  padding-left: 8px;
}
/* line 81, screen.scss */
.login ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
/* line 88, screen.scss */
.login .center- {
  width: 190px;
  margin: 0 auto;
}
