/* line 2, screen.scss */
.clear-both {
  clear: both;
}

/* line 4, screen.scss */
#login {
  margin-top: 60px;
  background: #d62c35;
  padding: 20px 0 15px 0;
  font-size: 18px;
  margin-bottom: 120px;
}
/* line 10, screen.scss */
#login .seperator {
  color: white;
  display: inline-block;
  line-height: 12px;
  font-size: 12px;
}
/* line 16, screen.scss */
#login h1 {
  text-transform: uppercase;
  color: white;
  font-size: 44px;
  font-family: 'citroenregular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 10px;
}
/* line 25, screen.scss */
#login label {
  margin: 10px 0 3px 0;
  margin-top: 15px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-family: 'citroenregular', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
/* line 52, screen.scss */
#login input[type=submit] {
  border: none;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  color: #d62c35;
  background: #fff;
  text-decoration: none;
  padding: 5px 45px;
  text-transform: uppercase;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 14px;
  font-family: 'citroenregular', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
/* line 68, screen.scss */
#login input[type=submit]:hover {
  color: #b50020;
}
/* line 72, screen.scss */
#login input[type=text], #login input[type=password] {
  width: 325px;
  border: none;
  height: 28px;
  line-height: 26px;
  padding: 2px 5px;
}
/* line 79, screen.scss */
#login ul {
  margin-top: 15px;
}
/* line 81, screen.scss */
#login ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 0;
  font-size: 16px;
}
/* line 86, screen.scss */
#login ul li:first-child {
  padding-right: 8px;
}
/* line 89, screen.scss */
#login ul li:last-child {
  position: relative;
  left: -3px;
  padding-left: 8px;
}
/* line 94, screen.scss */
#login ul li a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
  font-size: 1em;
  font-family: 'citroenregular', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
/* line 104, screen.scss */
#login .center- {
  width: 325px;
  margin: 0 auto;
}

/* line 111, screen.scss */
#rubrique #MEA {
  margin-bottom: 20px;
}
/* line 113, screen.scss */
#rubrique #MEA .icon-sous-rubrique {
  height: 62px;
  width: 62px;
  margin: 20px 0 20px 60px;
}
/* line 117, screen.scss */
#rubrique #MEA .icon-sous-rubrique img {
  display: inline-block;
  vertical-align: middle;
}
/* line 122, screen.scss */
#rubrique #MEA .item {
  height: 260px;
}
/* line 124, screen.scss */
#rubrique #MEA .item h2 {
  margin-top: -5px;
}
/* line 127, screen.scss */
#rubrique #MEA .item a {
  padding: 5px 45px;
}
/* line 131, screen.scss */
#rubrique #MEA .btn_learnmore {
  background: #f0f0f0;
}

/* line 137, screen.scss */
.height10 {
  height: 10px;
}
