@import 'compass';
.clear-both{clear:both}

#login{
	margin-top: 60px;
	background: #d62c35;
	padding: 20px 0 15px 0;
	font-size: 18px;
	margin-bottom: 120px;
	.seperator{
		color:white;
		display: inline-block;
		line-height: 12px;
		font-size: 12px;
	}
	h1{
		text-transform: uppercase;
		color:white;
		font-size: 44px;
		font-family: 'citroenregular', Arial, Helvetica, sans-serif;
		font-weight: normal;
		line-height: 36px;
		margin-bottom: 10px;
	}
	label{
		margin: 10px 0 3px 0;
		margin-top: 15px;
		text-transform: uppercase;
		color:white;
		display: inline-block;
		font-size: 1em;
		font-family: 'citroenregular', Arial, Helvetica, sans-serif;
		font-weight: normal;
	}
	// input{display: block}
	// .submit{
	// 	display: block;
	// 	text-align: center;
	// 	margin: 0 auto;
	// 	margin-top: 20px;
	// 	color: #d62c35;
	// 	background: #fff;
	// 	text-decoration: none;
	// 	padding:7px 45px;
	// 	@include border-radius(20px);
	// 	font: 1em 'citroenregular', Arial, Helvetica, sans-serif;
	// 	text-transform: uppercase;
	// 		&:hover{
	// 		color: #b50020;
	// 		}
	// 	}
	input[type=submit]{
		border: none;
		display: block;
		text-align: center;
		margin: 0 auto;
		margin-top: 30px;
		color: #d62c35;
		background: #fff;
		text-decoration: none;
		padding:5px 45px;
		text-transform: uppercase;
		@include border-radius(20px);
		font-size: 14px;
		font-family: 'citroenregular', Arial, Helvetica, sans-serif;
		font-weight: normal;
		// line-height: 10px;
			&:hover{
			color: #b50020;
			}
		}
	input[type=text], input[type=password]{
		width: 325px;
		border: none;
		height: 28px;
		line-height: 26px;
		padding: 2px 5px;
	}
	ul{
		margin-top: 15px;
		li{
			list-style: none;
			display: inline-block;
			padding: 5px 0;
			font-size: 16px;
			&:first-child{
				padding-right: 8px;
			}
			&:last-child{
				position: relative;
				left:-3px;
				padding-left: 8px;
			}
			a{
				text-decoration: none;
				color:white;
				text-decoration: underline;
				font-size: 1em;
				font-family: 'citroenregular', Arial, Helvetica, sans-serif;
				font-weight: normal;
			}
		}
	}
	.center-{
		width: 325px;
		margin: 0 auto;
	}
}

#rubrique{
	#MEA{
		margin-bottom: 20px;
		.icon-sous-rubrique{
			height: 62px;
			width:62px;
			margin: 20px 0 20px 60px;
			img{
				display: inline-block;
				vertical-align: middle;
			}
		}
		.item{
			height: 300px - 40px;
			h2{
				margin-top: -5px
			}
			a{ 
				padding: 5px 45px;
			}
		}
		.btn_learnmore{
			background: #f0f0f0;
		}
	}
}