@import 'compass';
.clear-both{clear:both}
.height10{height: 10px;}


// --------------- DEBUT FIL D'ARIANE -------------------------------
#file_dariane .wrapper ul.fil_dariane {
list-style: none;
}

#file_dariane .wrapper ul.fil_dariane li{
display: inline-block;
font: 11px Arial, Helvetica, sans-serif;
color: #756e75;
}
#file_dariane .wrapper ul.fil_dariane li a{
font: 11px Arial, Helvetica, sans-serif;
color: #bfbcbf;
text-decoration: none;
}
// --------------- FIN FIL D'ARIANE -------------------------------
#login{
	margin-top: 60px;
	background: #d62c35;
	padding: 20px 0 15px 0;
	font-size: 18px;
	margin-bottom: 120px;
	.seperator{
		color:white;
		display: inline-block;
		line-height: 12px;
		font-size: 12px;
	}
	h1{
		text-transform: uppercase;
		color:white;
		font-size: 44px;
		font-family: 'citroenregular', Arial, Helvetica, sans-serif;
		font-weight: normal;
		line-height: 36px;
		margin-bottom: 10px;
	}
	label{
		margin: 10px 0 3px 0;
		margin-top: 15px;
		text-transform: uppercase;
		color:white;
		display: inline-block;
		font-size: 1em;
		font-family: 'citroenregular', Arial, Helvetica, sans-serif;
		font-weight: normal;
	}
	input[type=submit]{
		border: none;
		display: block;
		text-align: center;
		margin: 0 auto;
		margin-top: 30px;
		color: #d62c35;
		background: #fff;
		text-decoration: none;
		padding:5px 45px;
		text-transform: uppercase;
		@include border-radius(20px);
		font-size: 14px;
		font-family: 'citroenregular', Arial, Helvetica, sans-serif;
		font-weight: normal;
		// line-height: 10px;
			&:hover{
			color: #b50020;
			}
		}
	input[type=text], input[type=password]{
		width: 325px;
		border: none;
		height: 28px;
		line-height: 26px;
		padding: 2px 5px;
	}
	ul{
		margin-top: 15px;
		li{
			list-style: none;
			display: inline-block;
			padding: 5px 0;
			font-size: 16px;
			&:first-child{
				padding-right: 8px;
			}
			&:last-child{
				position: relative;
				left:-3px;
				padding-left: 8px;
			}
			a{
				text-decoration: none;
				color:white;
				text-decoration: underline;
				font-size: 1em;
				font-family: 'citroenregular', Arial, Helvetica, sans-serif;
				font-weight: normal;
			}
		}
	}
	.center-{
		width: 325px;
		margin: 0 auto;
	}
}

#rubrique{
	.slider{
		height: 367px;
		background: blue;
		width:940px;
		background: url(../images_administrable/banner-rubrique.jpg) no-repeat center;
		position: relative;
		margin: 5px 0 10px 0;
		.texte{
			position: absolute;
			bottom: 0;
			margin: 10px 0 20px 15px;
			color: #fafafa;
			font-size: 12px;
			font-family: 'citroenlight', Arial, Helvetica, sans-serif;
			font-weight: normal;
			h1{
				font-size: 48px;
				line-height: 45px;
				text-transform: uppercase;
				font-family: 'citroenregular', Arial, Helvetica, sans-serif;
			}
			h3{
				font-size: 18px;
				font-family: 'citroenlight', Arial, Helvetica, sans-serif;
				line-height: 22px;
				margin-bottom: 5px;
				text-transform: uppercase;
			}
			p{
				font-size: 12px;
				line-height: 15px;
				width: 541px;
				font-weight: bold;
				font-family: Arial, Helvetica, sans-serif;
			}
		}
		.sous-rubrique{
			position:relative;
			top: 190px;
			left:640px;
			height: 180px;
			width:280px;
			padding: 10px;
			color:#fafafa;
			hr{
				margin: 6px 0;
				// color:#CE3D42;
				border-bottom: 1px solid #CE3D42;
				border-top: 1px solid #a7161b;
				border-left: 1px solid #a7161b;
				border-right: 1px solid #a7161b;
			}
			ul{
				width:280px;
				li{
				width:300px -20px;
					list-style: none;
					font-size: 14px;
					font-family: 'citroenregular', Arial, Helvetica, sans-serif;
				}
				li:before {
				    content: "> ";
				}
			}
		}
	}
	#MEA{
		margin-bottom: 20px;
		.icon-sous-rubrique{
			height: 62px;
			width:62px;
			margin: 20px 0 20px 60px;
			img{
				display: inline-block;
				vertical-align: middle;
			}
		}
		.item{
			height: 300px - 40px;
			h2{
				margin-top: -5px
			}
			a{ 
				padding: 5px 45px;
			}
		}
		.btn_learnmore{
			background: #f0f0f0;
		}
	}
}

#documentaire{
	@extend #rubrique;
	.slider{
		background: url(../images_administrable/banner-documentaire.jpg) no-repeat center;
	}
	#MEA{
		.item{
			height: 195px;
		}
	}
	p{
		margin: 4px 0;
	}
}
#recherche{
	#file_dariane{
		margin-top: -3px;
		margin-bottom: 7px;
	}
	hr{
		margin: 10px 0;
		color:#e9e9e9;
		border-top: 1px solid #e9e9e9;
		border-left: 1px solid #e9e9e9;
	}
	.block-recherche{
		background: #d62c35;
		height: 120px;
		margin-bottom: 18px;
		position: relative;
		h5{
			font-size: 14px;
			text-align: center;
			font-weight: normal;
			color:#f3dbdb;
			padding: 20px 0 10px 0;
		}
		input[type=text]{
			border: 1px solid #c72831;
			border-right:0;
			display: block;
			float: left;
			width:540px - 61px;
			height: 41px;
			// margin-left: 200px;
			padding: 0 5px;
			font-size: 16px;
		}
		input[type=submit]{
			display: block;
			float: left;
			border: 1px solid #c72831;
			border-left: 0;
			font-size: 16px;
			height: 43px;
			width: 61px;
			outline: none;
			cursor: pointer;
			text-decoration: none;
			background: url(../images/icone-loupe-rechercher.png) no-repeat center #fff ;
		}
	}

	.content{
		width:910px;
		background: white;
		position: relative;
		padding: 15px;
		margin-bottom: 30px;
		.icones-right{
			ul{
				position: absolute;
				right: 1px;
				top: 1px;
				li{
					float: right;
					margin: 1px;
					list-style: none;
					display: inline-block;
					width: 32px;
					height: 30px;
					line-height: 26px;
					vertical-align: -3px;
					border: 1px solid #e5e7e9;
					text-align: center;
					font-family: 'citroenregular', Arial, Helvetica, sans-serif;
					a{
						color: #c6c4c6;
						text-decoration: none;
						display: inline-block;
						height: 30px;
						width: 32px;
						img{
							display: inline;
						}
					}
				}
			}
		}
	}
	#resultat{
		float: left;
		text-transform: uppercase;
		padding: 0px;
		font-family: 'citroenregular', Arial, Helvetica, sans-serif;
		h3{
			display: inline-block;
			font-size: 18px;
			color: #191919;
		}
		.resultats{
			font-size: 14px;
			color:#c2c2c2;
		}
	}
	#champs{
		.select{
			display: inline-block;
			height: 28px;
			border: 1px solid #e5e7e9;
		}
		select {
			display: inline-block;
			border: 0; 
			-webkit-appearance: none; 
			-moz-appearance: none;
			background: url(../images/fleche-bas-select.png) no-repeat 95% center;
			width: 140px;
			text-indent: 0.01px;
			text-overflow: ""; 
			color: #b8b7b8;
			padding: 5px;
		}
		label{
			display: inline-block;
			text-transform: uppercase;
			font-size: 11px;
			font-family: 'citroenregular', Arial, Helvetica, sans-serif;
			color: #b8b7b8;
			line-height: 30px;
			vertical-align: middle;
			padding: 0 20px;
		}
		option
		{
			margin-bottom: 7px;
			line-height: 18px;
			padding-bottom: 5px;
			padding-left: 5px;
		}
	}
	article{
		padding: 5px 0 0 0;
		img{
			float: left;
			margin-right: 10px;
		}
		h1{
			display: inline-block;
			color:#191919;
			text-transform: uppercase;
			font-weight: normal;
			font-family: 'citroenregular', Arial, Helvetica, sans-serif;
			font-size: 28px;
			line-height: 18px;
		}
		.date{
			color:#b8b7b8;
			font-size: 12px;
			line-height: 8px;
			font-family: Arial, Helvetica, sans-serif;
		}
		p{
			margin-top: 18px;
			font-size: 12px;
			line-height: 18px;
			font-family: Arial, Helvetica, sans-serif;
			color:#756e75;
		}
		a{
			font-family: 'citroenitalic', Arial, Helvetica, sans-serif;
			font-size: 14px;
			color:#d62c35;
			display: inline-block;
			margin: 15px 0;
		}
	}

	#pagination{
		width: 420px;
		margin: 0 auto;
		padding: 7px 0 15px 0;
		a{
			display: inline-block;
			margin: 0 10px;
			text-transform: capitalize;
			color:#756e75;
			text-decoration: none;
			font-size: 14px;
			font-family: 'citroenregular', Arial, Helvetica, sans-serif;
		}
		.active a{
			color:#d62c35;
		}
		.btn{
			margin: 5px 0;
			display: inline-block;
			border: 2px solid #756e75;
			padding: 7px 26px;
			@include border-radius(5px);
			a{
				font-size: 16px;
			}
		}
	}
}